@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	outline: none;
	border: none;
}

#mapa{
	position: fixed !important;
	top: 0px;
	left: 0px;
	float: left;
	width: 100%;
	height: 100%;
}

#botonera{
	float: left;
	position: fixed;
	height: 60px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: transparent;
}

#boton-menu{
	position: fixed;
	float: left;
	width: 60px;
	height: 60px;
	background-color: #2e7d32;
	left: 10px;
	top: 10px;
	z-index: 999;
	border-radius: 50%;
}
#boton-menu>button{
	height: 100%;
	width:100%;
	background:transparent;
}
#boton-menu>button>img{
	margin-top: 2px;
	height: 35px;
	width: 35px;
}

#btnBotonera{
	position: fixed;
	width: 70%;
	height: 50px;
	bottom: 10px;
	left: 15%;
	border-radius: 25px;
	background-color: rgba(170,170,170,0.7);
	color: #FFF;
	font-size: 1.5em;
}

#menu{
	color: #FFF;
	z-index: 9999;
	width: 70%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0px;
	left: -100%;
}

#usuario{
	height: 180px;
	background: transparent;
	width: 100%;
	float: left;
	text-align: center;
}
.verMenu{ 
	left: 0px !important;
}
#usuario>img{
	height: 80px;
	margin-top: 50px;
	border-radius: 50%;
}
#usuario>h1{
	width: 80%;
	margin-left: 10%;
	border-radius: 16px;
	height: 26px;
	font-size: 1.3em;
	border: 2px solid #FFF; 
}

#menu>ul{
	width: 100%;
	margin-top: 60px;
	height: calc(100% - 150px);
	float: left;
	background: transparent;
	overflow-y: scroll; 
}
#menu>button{
	height: 60px;
	width: 60px;
	position: relative;
	border-radius: 50%;
	border: 2px dashed rgba(255,255,255,0.7);
	background: transparent;
	margin-left: calc(50% - 30px);
}
#menu>button>img{
	height: 35px;
	width: 35px;
}

#menu li{
	font-size: 20px;
	width: 90%;
	margin-left: 5%;
	height: 45px;
	float: left;
	margin-bottom: 5px;
	border-bottom: 2px dashed rgba(255,255,255,0.7);
	padding-left: 15px;
	padding-bottom: 10px;
	line-height: 40px;
	box-sizing: border-box; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#menu li img{
	height: 36px;
	width: 36px;
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 5px;

}
#boton{
	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	left: calc(50% - 30px);
	top: calc(90% - 30px);
	background-color: #2e7d32;
	text-align: center;
}
#boton>img{
	margin-top: 2px;
	height: 35px;
	width: 35px;
}
#busqueda{
	width: 90%;
	left: 5%;
	top: calc(90% - 35px);
	height: 35px;
	position: fixed;
	border-radius: 5px;
	background-color: #eeeeee;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
	display: none;
	visibility: hidden;
}
#busqueda>input{
	float: left;
	width: calc(100% - 35px);
	border: none;
	background-color: #eee;
	font-size: 1em;
	height: 35px;
	border-radius: 5px;
	padding-left: 5PX;
}
#busqueda>img{
	float: left;
	margin-top: 5px;
	width: 25px;
	height: 25px;
}